<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Serviços</h2>
    <a href="/admin" class="btn btn-main">Voltar ao Admin</a>
  </div>

  <div class="card p-3 shadow-sm">
    <table class="table table-borderless table-hover align-middle mb-0">
      <thead class="table-head">
        <tr>
          <th>ID</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Cliente</th>
          <th>Entrada</th>
          <th>Saída</th>
        </tr>
      </thead>
      <tbody>
        <% servicos.forEach(servico => { %>
          <tr>
            <td><%= servico.id %></td>
            <td><%= servico.tipo %></td>
            <td><%= servico.estado %></td>
            <td><%= servico.cliente %></td>
            <td><%= servico.dta_entrada.toDateString() %></td>
            <td>
              <%= servico.dta_saida ? servico.dta_saida.toDateString() : '' %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../partials/footer') %>